# Auto detect text files and perform LF normalization
* text=auto
*.h text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.c text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.md text eol=lf
*.txt text eol=lf
